@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&family=Teko:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
}
h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 66px;
  font-weight: 700;
  letter-spacing: 7px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
}

h4 {
  font-size: 30px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

h6 {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 991px) {
  h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  h5 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

body {
  font-family: "Heebo", sans-serif;
  /* background-color: #cccccc; */
  margin: 0px;
  padding: 0px;
  color: rgb(40, 40, 40);
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-size: 18px;
}
a {
  color: rgb(0, 162, 255);
  outline: 0px none;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: 0px none;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: white;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/*------------- botón login en topbar----------------------- */
#login-btn {
  color: rgb(0, 162, 255);
}

/*------------ botón suscribite en topbar------------------ */
#btn-suscribite {
  background: rgb(0, 162, 255);
}

/*------------ navbar transparente------------------------ */
.bg-dark {
  background: transparent !important;
  transition: 0.75s;
}
/*----------- navbar con background al scrollear --------- */
.bg-dark.scrolled {
  background: rgb(40, 40, 40) !important;
}

.navbar-dark .navbar-toggler {
  border-color: none;
}
/*-----------Fin navbar con background al scrollear ----- */

/*---------- Barra debajo de los nav links del navbar--------------- */
.barraNav-link::after {
  content: " ";
  width: 0%;
  height: 6px;
  background: rgb(0, 162, 255);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.barraNav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-link.active {
  color: rgb(0, 135, 212) !important;
}

/* --------- Fin Barra debajo de los nav links ---------*/

/*----------- Animación botón hamburguesa --------------*/
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler:hover {
  background: transparent !important;
}
.navbar-toggler .icon-bar {
  background: #fff;
  height: 3px;
  border-radius: 0px;
  display: block;
  width: 18px;
  transition: all 0.2s;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 16% 270%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 8% -180%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.nav-link {
  font-weight: bold;
  font-family: "Heebo", sans-serif;
}
/* ------- Fin Animación botón hamburguesa-------------*/

/* --------Footer ------------------------------------ */
.bg_footer {
  background: rgb(40, 40, 40);
}
/* --------------------------------------------------- */

/* ------------- Slider ---------------------------- */

.carousel-caption {
  font-family: "Teko", sans-serif;
}

.carousel-caption h4 {
  color: rgb(0, 162, 255);
  text-align: left;
  opacity: 1;
  animation: fadeIn 5.5s ease-in forwards;
  animation: upDown-h4 4s 1s ease forwards;
}

.carousel-caption p {
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: justify;
  opacity: 1;
  animation: fadeIn 4.5s ease-in forwards;
  animation: upDown-p 2s 1s ease-in forwards;
}

.btn-slider {
  color: rgb(0, 162, 255);
  border: 2px solid rgb(0, 162, 255);
  opacity: 0;
  animation: fadeIn 4.5s ease-in forwards;
}

/* keyframes de animaciones de textos del slider */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes upDown-h4 {
  100% {
    margin-bottom: 0px;
  }
}
@keyframes upDown-p {
  100% {
    margin-bottom: 0px;
  }
}

/* color de los botones inferiores del slider */
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: rgb(0, 162, 255);
}
/* estilo de los botones inferiores del slider */
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/* ------------Página principal y Entrada de Blog-------------- */
/* ------estilo de la fecha del post-------- */
.fechaPost {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}
/* estilo del link ver mas----------------- */
.site-btn-link {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 35px;
  color: #0184ff;
  font-weight: 700;
  padding-left: 00x;
}
.site-btn-link i {
  transition: 0.4s all ease;
  font-size: 25px;
}

/* ------------banner principal-------------- */
.banner {
  background-image: url(/img/Banner.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
/* --------- 2do Banner pricipal ---- */
.banner2 {
  background-image: url(/img/Banner2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
.opacity-06 {
  opacity: 0.6;
}
/* -----------Tiulo Banner Principal--------- */

.contenedorTituloBanner {
  vertical-align: bottom;
  text-align: left;
  padding-bottom: 60px;
}
.titulo-banner {
  margin-bottom: 0px;
  position: relative;
  font-family: "Teko", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 80px;
  line-height: 70px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  display: block;
}
/* ------------Breadcrumb de banner  -------------------- */
.breadcrumb_li {
  text-decoration: none;
  padding-right: 20px;
  position: relative;
  display: inline-block;
  font-size: 42px;
  font-family: "Teko", sans-serif;
}
.breadcrumb-item.active {
  color: #ffffff69;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff69;
}
/* ------------------Fin banner------------------------ */

/* ----------------Pagina Login---------------- */
/* imagen de fondo del panel derecho */
.bg-img {
  background-color: transparent;
  background-image: url("../img/escudo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  overflow: visible;
  width: fit-content;
  width: 55vw;
  height: 55vh;
}

.bg-login {
  background-color: rgb(40, 40, 40);
}
/* video de fondo */
.div-video {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
/* panel de login con background transparente y con gradient de color */
.login-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.8;
}

/* permite que el video se vea por debajo del panel de login */
.login-panel2 {
  z-index: 1;
}
/* pointer del boton eye del password */
.cursor-pointer {
  cursor: pointer;
}
/* estilo de los links del panel de login */
.link-login {
  color: rgb(0, 162, 255);
  outline: 0px none;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

#freeRegister:hover {
  color: rgb(0, 135, 212);
}
/* --------Fin del login ------------------------------ */

/* Galeria de imágenes .................................*/

.efectoimg {
  filter: opacity(0.3);
  transition: 0.5s;
}

.imagen:hover {
  filter: opacity(100);
  transition: 0.5s;
}
/* contorno de los titulos de la galeria*/
.contorno {
  -webkit-text-stroke: 1.5px rgb(0, 162, 255);
}

/* Fin de Galeria de imágenes-------------------------- */

/* ERROR 404------------------------------------------ */
.bg-img-404 {
  background-color: white;
  background-image: url("../img/ERROR404/lesionado.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  overflow: hidden;
  width: fit-content;
  width: 100%;
  height: auto;
}

#div-404 {
  width: 100vw;
  height: auto;
}
/* Fin ERROR 404 --------------------------------------*/

/*------ Configuración  de las medias queries ----------*/
/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Slider */
  .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: visible;
    height: 80vh;
  }
}
/*-------Media Queries Sidebar ----------------------- */

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 0px; /* ajusta height del navbar */
    left: 0;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    background: rgb(0, 162, 255);
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }

  .navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
  }
}
/* ------------------------------------------------- */

/*-Media Queries para dispositivos xl, xxl: Algunas Tablet, notebook, tv --*/

@media all and (min-width: 993px) {
  /* botón de login en side bar */
  #login-cel {
    display: none;
  }
  /* botón suscribite en side bar */
  #subscribe-cel {
    display: none;
  }

  /*--Titulo de Slider para pantallas grandes-- */
  .carousel-caption h4 {
    font-size: 40px !important;
    margin-bottom: 320px;
  }
  /*--Párrafo de Slider para pantallas grandes-- */
  .carousel-caption p {
    font-size: 70px !important;
    margin-bottom: 680px;
  }
  /*--Botón de Slider para pantallas grandes-- */
  .btn-slider {
    width: 250px;
    height: auto;
    padding: 30px;
    display: flex;
    font-size: 45px !important;
    font-weight: bolder;
  }
}
/*----- Media Queries para dispositivos Large: Tablet */
@media all and (min-width: 769px) and (max-width: 992px) {
  /* Slider */
  .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: visible;
    height: 57vh;
  }
}

/*------ Media Queries para dispositivos Medium: celulares ---------*/

@media all and (min-width: 576px) and (max-width: 768px) {
  /* LOGO Navbar */
  .navbar-brand img {
    width: 150px;
  }
  /* topbar del navbar*/
  #login-btn {
    display: none;
  }
  /* botón sucribite */
  #btn-suscribite {
    display: none;
  }

  /* Slider */
  .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: visible;
    height: 57vh;
  }
  /* textos del slider */
  .carousel-caption h4 {
    margin-bottom: -800px;
    font-size: 10px;
  }
  .carousel-caption p {
    margin-bottom: -9000px;
    font-size: 15px;
  }
  .btn-slider {
    margin-bottom: 0px;
    width: 75px;
    padding: 3px;
    margin: 15px 0px;
    font-size: 15px;
  }
}

/*------ Media Queries para dispositivos extra small ---*/
@media all and (min-width: 319px) and (max-width: 575px) {
  /* LOGO Navbar */
  .navbar-brand img {
    width: 100px;
  }
  /* topbar del navbar*/
  #login-btn {
    display: none;
  }
  /* botón sucribite */
  #btn-suscribite {
    display: none;
  }
  .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: visible;
    height: 70vh;
  }
}

/* ----------- Samsung Galaxy-Fold----------- */
@media (max-device-width: 280px) and (max-device-height: 653px) {
  /* LOGO Navbar */
  .navbar-brand img {
    width: 130px;
  }
  /* topbar del navbar*/
  #login-btn {
    display: none;
  }
  /* botón sucribite */
  #btn-suscribite {
    display: none;
  }
  .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: visible;
    height: 80vh;
    width: auto;
  }
}
